# We don't store data in this repository
**.png
**.jpg
**.jpeg
**.PNG
**.JPG
**.JPEG
**.webp
**.gif
**.GIF
**.json
**.pt
**.pth
**.csv
**.txt
**.yaml
**.yml
**.parquet

# Unwanted temporary files
**events.out.tfevents*
**/__pycache__/**
/tmp/**
**.pyspy
/*.ipynb

# Specific cases
examples/test.ipynb
uv.lock
!/.github/workflows/*.yml
!conda.yaml