# We don't store data in this repository
**.png
**.jpg
**.jpeg
**.PNG
**.JPG
**.JPEG
**.webp
**.gif
**.GIF
**.json
**.pt
**.pth
**.csv
**.txt
**.yaml
**.yml
**.parquet

# Unwanted temporary files
**events.out.tfevents*
**/__pycache__/**
/tmp*
/tmp/**
/tensorrt-results/
**.pyspy

# Specific cases
examples/test.ipynb
!/.github/workflows/*.yml
!conda.yaml
!/dev/ucloud/comparison.json
!/dev/ucloud/qualification.json
!/dev/ucloud/experiment.json
!/dev/ucloud/compilation.json
!/dev/ucloud/optimizer-compilation.json
/local-evidence/
