**
!.gitignore

!mnist/
!mnist/construct.py
!mnist.ipynb

!blair/
!blair/construct.py
!blair.ipynb

!birds/
!birds/construct.py
!birds.ipynb

!inat2021/
!inat2021/construct.py
!inat2021.ipynb

!run_notebook.py
!resize_image_dir.py
!create_combinations.py
!apply_quality_filter.py
!utils.py